Repository fsegurai/codemirror-themes, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, ci-cd, demo, assets, styles, library, tests-library, documentation

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '!.github/workflows/**',
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
        '.editorconfig',
        'babel.config.js',
        'jest.config.js',
        'release.config.js',
        'rollup.config.js',
      ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [
        'package-lock.json',
        'yarn.lock',
        'bun.lockb',
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'packages/**',
      ]

tests-library:
  - changed-files:
      - any-glob-to-any-file: [
        'tests/**',
        'test/**',
        '**/spec/**',
        '**/*.test.*',
        '**/*.test-d.*',
        '**/*.spec.*',
      ]

documentation:
  - changed-files:
      - any-glob-to-any-file: [
        'docs/**',
        'CHANGELOG.md',
        'CONTRIBUTING.md',
        'LICENSE',
        'README.md',
      ]

fix: local server host
  rollup.config.js
Labels: infra

fix: local server host
  rollup.config.js
Labels: infra

feat: browser support
  demo/.browserslistrc
Labels: infra, demo

feat: browser support
  demo/.browserslistrc
Labels: infra, demo

perf: libraries version
  bun.lock
  bun.lockb
  package.json
Labels: infra, dependencies

perf: libraries version
  bun.lock
  bun.lockb
  package.json
Labels: infra, dependencies

6.3.4
  package.json
Labels: infra

6.3.4
  package.json
Labels: infra

license
  LICENSE
Labels: infra, documentation

license
  LICENSE
Labels: infra, documentation
