Repository fsegurai/codemirror-themes, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, ci-cd, demo, assets, styles, library, documentation

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
  package.json
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
  package.json
Labels: infra, ci-cd

feat/palenight, vscode-dark and vscode-light themes
  .github/workflows/build.yml
  .github/workflows/release-library.yml
  demo/themes.ts
  package.json
  packages/abyss/package.json
  packages/android-studio/package.json
  packages/andromeda/package.json
  packages/basic-dark/package.json
  packages/basic-light/package.json
  packages/forest/package.json
  packages/github-dark/package.json
  packages/github-light/package.json
  packages/gruvbox-dark/package.json
  packages/gruvbox-light/package.json
  packages/material-dark/package.json
  packages/material-light/package.json
  packages/monokai/package.json
  packages/nord/package.json
  packages/palenight/.npmignore
  packages/palenight/README.md
  packages/palenight/package.json
  packages/palenight/src/index.ts
  packages/solarized-dark/package.json
  packages/solarized-light/package.json
  packages/tokyo-night-day/package.json
  packages/tokyo-night-storm/package.json
  packages/volcano/package.json
  packages/vscode-dark/.npmignore
  packages/vscode-dark/README.md
  packages/vscode-dark/package.json
  packages/vscode-dark/src/index.ts
  packages/vscode-light/.npmignore
  packages/vscode-light/README.md
  packages/vscode-light/package.json
  packages/vscode-light/src/index.ts
Labels: infra, ci-cd, demo, library

feat/palenight, vscode-dark and vscode-light themes
  .github/workflows/build.yml
  .github/workflows/release-library.yml
  demo/themes.ts
  package.json
  packages/abyss/package.json
  packages/android-studio/package.json
  packages/andromeda/package.json
  packages/basic-dark/package.json
  packages/basic-light/package.json
  packages/forest/package.json
  packages/github-dark/package.json
  packages/github-light/package.json
  packages/gruvbox-dark/package.json
  packages/gruvbox-light/package.json
  packages/material-dark/package.json
  packages/material-light/package.json
  packages/monokai/package.json
  packages/nord/package.json
  packages/palenight/.npmignore
  packages/palenight/README.md
  packages/palenight/package.json
  packages/palenight/src/index.ts
  packages/solarized-dark/package.json
  packages/solarized-light/package.json
  packages/tokyo-night-day/package.json
  packages/tokyo-night-storm/package.json
  packages/volcano/package.json
  packages/vscode-dark/.npmignore
  packages/vscode-dark/README.md
  packages/vscode-dark/package.json
  packages/vscode-dark/src/index.ts
  packages/vscode-light/.npmignore
  packages/vscode-light/README.md
  packages/vscode-light/package.json
  packages/vscode-light/src/index.ts
Labels: infra, ci-cd, demo, library

fix/bundle versioning and release pipelines validation
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  packages/bundle/package.json
Labels: infra, ci-cd, library

fix/bundle versioning and release pipelines validation
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  packages/bundle/package.json
Labels: infra, ci-cd, library

fix/bundle theme with missing new themes reference
  .github/workflows/release-library.yml
  packages/bundle/package.json
  packages/bundle/src/index.ts
Labels: infra, ci-cd, library

fix/bundle theme with missing new themes reference
  .github/workflows/release-library.yml
  packages/bundle/package.json
  packages/bundle/src/index.ts
Labels: infra, ci-cd, library

fix/improved general and packages README files
  README.md
  demo/themes.ts
  packages/abcdef/README.md
  packages/abyss/README.md
  packages/android-studio/README.md
  packages/andromeda/README.md
  packages/basic-dark/README.md
  packages/basic-light/README.md
  packages/bundle/README.md
  packages/bundle/src/index.ts
  packages/forest/README.md
  packages/github-dark/README.md
  packages/github-light/README.md
  packages/gruvbox-dark/README.md
  packages/gruvbox-light/README.md
  packages/material-dark/README.md
  packages/material-light/README.md
  packages/monokai/README.md
  packages/nord/README.md
  packages/palenight/README.md
  packages/solarized-dark/README.md
  packages/solarized-light/README.md
  packages/tokyo-night-day/README.md
  packages/tokyo-night-storm/README.md
  packages/volcano/README.md
  packages/vscode-dark/README.md
  packages/vscode-dark/src/index.ts
  packages/vscode-light/README.md
  packages/vscode-light/src/index.ts
Labels: demo, library, documentation

fix/improved general and packages README files
  README.md
  demo/themes.ts
  packages/abcdef/README.md
  packages/abyss/README.md
  packages/android-studio/README.md
  packages/andromeda/README.md
  packages/basic-dark/README.md
  packages/basic-light/README.md
  packages/bundle/README.md
  packages/bundle/src/index.ts
  packages/forest/README.md
  packages/github-dark/README.md
  packages/github-light/README.md
  packages/gruvbox-dark/README.md
  packages/gruvbox-light/README.md
  packages/material-dark/README.md
  packages/material-light/README.md
  packages/monokai/README.md
  packages/nord/README.md
  packages/palenight/README.md
  packages/solarized-dark/README.md
  packages/solarized-light/README.md
  packages/tokyo-night-day/README.md
  packages/tokyo-night-storm/README.md
  packages/volcano/README.md
  packages/vscode-dark/README.md
  packages/vscode-dark/src/index.ts
  packages/vscode-light/README.md
  packages/vscode-light/src/index.ts
Labels: demo, library, documentation

fix/build pipeline with new themes
  .github/workflows/build.yml
Labels: infra, ci-cd

fix/build pipeline with new themes
  .github/workflows/build.yml
Labels: infra, ci-cd

fix/package-lock.json file with updated packages references
  package-lock.json
Labels: infra, dependencies

fix/package-lock.json file with updated packages references
  package-lock.json
Labels: infra, dependencies

fix/pipelines workflows
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/pipelines workflows
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/allow tests when changes are submitted or merged to prod
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/allow tests when changes are submitted or merged to prod
  .github/workflows/test.yml
Labels: infra, ci-cd

refactor/improved demo and implemented material design
  demo/index.ts
  demo/playground.html
  demo/scripts/get-started.ts
  demo/scripts/header.ts
  demo/scripts/playground.ts
  demo/styles/header.css
  demo/styles/playground.css
  demo/styles/themes.css
  package-lock.json
  package.json
  rollup.demo.config.js
Labels: infra, dependencies, demo, styles

refactor/improved demo and implemented material design
  demo/index.ts
  demo/playground.html
  demo/scripts/get-started.ts
  demo/scripts/header.ts
  demo/scripts/playground.ts
  demo/styles/header.css
  demo/styles/playground.css
  demo/styles/themes.css
  package-lock.json
  package.json
  rollup.demo.config.js
Labels: infra, dependencies, demo, styles

fix/improved imports, styles and material design selector logic
  demo/playground.html
  demo/scripts/playground.ts
  demo/styles/header.css
  demo/styles/playground.css
  demo/styles/themes.css
Labels: demo, styles

fix/improved imports, styles and material design selector logic
  demo/playground.html
  demo/scripts/playground.ts
  demo/styles/header.css
  demo/styles/playground.css
  demo/styles/themes.css
Labels: demo, styles

refactor/demo project for better demonstration
  demo/index.html
  demo/playground.html
  demo/public/favicon.ico
  demo/scripts/get-started.ts
  demo/scripts/index.ts
  demo/scripts/markdown.example.ts
  demo/scripts/playground.ts
  demo/scripts/themes.ts
  demo/styles/index.css
  demo/styles/themes.css
  package-lock.json
  package.json
  rollup.demo.config.js
Labels: infra, dependencies, demo, assets, styles

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
      ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [
        'package-lock.json',
        'yarn.lock',
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'packages/**',
      ]

documentation:
  - changed-files:
      - any-glob-to-any-file: [
        'docs/**',
        'CHANGELOG.md',
        'CONTRIBUTING.md',
        'LICENSE',
        'README.md',
      ]
