Repository fsegurai/codemirror-themes, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, ci-cd, demo, assets, styles, library, documentation

refactor/demo project for better demonstration
  demo/index.html
  demo/playground.html
  demo/public/favicon.ico
  demo/scripts/get-started.ts
  demo/scripts/index.ts
  demo/scripts/markdown.example.ts
  demo/scripts/playground.ts
  demo/scripts/themes.ts
  demo/styles/index.css
  demo/styles/themes.css
  package-lock.json
  package.json
  rollup.demo.config.js
Labels: infra, dependencies, demo, assets, styles

fix/README to support new get started demo section
  README.md
Labels: documentation

fix/README to support new get started demo section
  README.md
Labels: documentation

fix/README to support new get started demo section
  README.md
Labels: documentation

fix/README to support new get started demo section
  README.md
Labels: documentation

fix/try to fix static routes for hosting site
  demo/scripts/header.ts
Labels: demo

fix/try to fix static routes for hosting site
  demo/scripts/header.ts
Labels: demo

fix/host url while redirecting to local pages using environment variables
  .github/workflows/release-demo.yml
  demo/scripts/const/const-env-reference.ts
  demo/scripts/header.ts
  env.example
  package-lock.json
  package.json
  rollup.demo.config.js
Labels: infra, dependencies, ci-cd, demo

fix/host url while redirecting to local pages using environment variables
  .github/workflows/release-demo.yml
  demo/scripts/const/const-env-reference.ts
  demo/scripts/header.ts
  env.example
  package-lock.json
  package.json
  rollup.demo.config.js
Labels: infra, dependencies, ci-cd, demo

fix/build workflow by adding environment variables reference
  .github/workflows/build.yml
Labels: infra, ci-cd

fix/build workflow by adding environment variables reference
  .github/workflows/build.yml
Labels: infra, ci-cd

upg/libraries version - fix/tsconfig source map setup - fix/header current link validation
  demo/scripts/header.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: infra, dependencies, demo

upg/libraries version - fix/tsconfig source map setup - fix/header current link validation
  demo/scripts/header.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: infra, dependencies, demo

fix/README - feat/build and release library timeout
  .github/workflows/build.yml
  .github/workflows/release-library.yml
  README.md
Labels: infra, ci-cd, documentation

fix/README - feat/build and release library timeout
  .github/workflows/build.yml
  .github/workflows/release-library.yml
  README.md
Labels: infra, ci-cd, documentation

feat/prism integration to highlight markdown code blocks
  demo/index.html
  demo/scripts/index.ts
  demo/styles/markdown.css
  demo/styles/prism-theme.css
  demo/styles/themes.css
  package-lock.json
  package.json
Labels: infra, dependencies, demo, styles

feat/prism integration to highlight markdown code blocks
  demo/index.html
  demo/scripts/index.ts
  demo/styles/markdown.css
  demo/styles/prism-theme.css
  demo/styles/themes.css
  package-lock.json
  package.json
Labels: infra, dependencies, demo, styles

feat/clipboard button for code blocks
  demo/scripts/index.ts
  demo/styles/markdown.css
  package-lock.json
  package.json
Labels: infra, dependencies, demo, styles

feat/clipboard button for code blocks
  demo/scripts/index.ts
  demo/styles/markdown.css
  package-lock.json
  package.json
Labels: infra, dependencies, demo, styles

fix/pre and code border radius
  demo/styles/markdown.css
Labels: demo, styles

fix/pre and code border radius
  demo/styles/markdown.css
Labels: demo, styles

fix/improved pipelines execution performance
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

fix/improved pipelines execution performance
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: infra, ci-cd

upg/libraries version
  package.json
Labels: infra

upg/libraries version
  package.json
Labels: infra

upg/libraries version
  package-lock.json
Labels: infra, dependencies

upg/libraries version
  package-lock.json
Labels: infra, dependencies

fix/improve README and get started styles
  README.md
  demo/styles/markdown.css
Labels: demo, styles, documentation

fix/improve README and get started styles
  README.md
  demo/styles/markdown.css
Labels: demo, styles, documentation

fix/rollup file name
  package.json
  rollup.config.js
Labels: infra

fix/rollup file name
  package.json
  rollup.config.js
Labels: infra

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
      ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [
        'package-lock.json',
        'yarn.lock',
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'packages/**',
      ]

documentation:
  - changed-files:
      - any-glob-to-any-file: [
        'docs/**',
        'CHANGELOG.md',
        'CONTRIBUTING.md',
        'LICENSE',
        'README.md',
      ]
