Repository fsegurai/codemirror-themes, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, ci-cd, demo, assets, styles, library, documentation

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/**',
        'angular.json',
        'package*.json',
        'tsconfig*.json',
        'eslint*.json',
      ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [
        'package-lock.json',
        'yarn.lock',
      ]

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [
        '.github/workflows/**',
        'Dockerfile',
        'Jenkinsfile',
      ]

demo:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/**'
      ]

assets:
  - changed-files:
      - any-glob-to-any-file: [
        'demo/public/**'
      ]

styles:
  - changed-files:
      - any-glob-to-any-file: [
        '**/*.scss',
        '**/*.css',
      ]

library:
  - changed-files:
      - any-glob-to-any-file: [
        'packages/**',
      ]

documentation:
  - changed-files:
      - any-glob-to-any-file: [
        'docs/**',
        'CHANGELOG.md',
        'CONTRIBUTING.md',
        'LICENSE',
        'README.md',
      ]

fix/release demo pipeline
  .github/workflows/release-demo.yml
Labels: infra, ci-cd

fix/release demo pipeline
  .github/workflows/release-demo.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release library pipeline
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/release demo pipeline
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  demo/public/codemirror-themes.png
Labels: infra, ci-cd, demo, assets

fix/release demo pipeline
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  demo/public/codemirror-themes.png
Labels: infra, ci-cd, demo, assets

demo dist reference for deployment
  package.json
  rollup.demo.config.js
Labels: infra

demo dist reference for deployment
  package.json
  rollup.demo.config.js
Labels: infra

fix/try to use bun
  .github/workflows/build.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/try to use bun
  .github/workflows/build.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/try to use bun
  bun.lockb
Labels: none

fix/try to use bun
  bun.lockb
Labels: none

fix/use npm due to limitations on current script
  .github/workflows/build.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

fix/use npm due to limitations on current script
  .github/workflows/build.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

feat/eslint configuration
  .github/workflows/build.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  .github/workflows/test.yml
  bun.lockb
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: infra, dependencies, ci-cd

feat/eslint configuration
  .github/workflows/build.yml
  .github/workflows/release-demo.yml
  .github/workflows/release-library.yml
  .github/workflows/test.yml
  bun.lockb
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: infra, dependencies, ci-cd

fix/release library pipeline while getting package version
  .github/workflows/release-library.yml
  .github/workflows/test.yml
  package.json
Labels: infra, ci-cd

fix/release library pipeline while getting package version
  .github/workflows/release-library.yml
  .github/workflows/test.yml
  package.json
Labels: infra, ci-cd

fix/release library pipeline while getting package version
  .github/workflows/release-library.yml
  package.json
Labels: infra, ci-cd

fix/release library pipeline while getting package version
  .github/workflows/release-library.yml
  package.json
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

upg/libraries version \n fix/release library pipeline and build:packages script
  .github/workflows/release-library.yml
  package-lock.json
  package.json
Labels: infra, dependencies, ci-cd

upg/libraries version \n fix/release library pipeline and build:packages script
  .github/workflows/release-library.yml
  package-lock.json
  package.json
Labels: infra, dependencies, ci-cd

upg/libraries version
  packages/abcdef/package.json
  packages/abyss/package.json
  packages/android-studio/package.json
  packages/andromeda/package.json
  packages/basic-dark/package.json
  packages/basic-light/package.json
  packages/forest/package.json
  packages/github-dark/package.json
  packages/github-light/package.json
  packages/gruvbox-dark/package.json
  packages/gruvbox-light/package.json
  packages/material-dark/package.json
  packages/material-light/package.json
  packages/monokai/package.json
  packages/nord/package.json
  packages/solarized-dark/package.json
  packages/solarized-light/package.json
  packages/tokyo-night-day/package.json
  packages/tokyo-night-storm/package.json
  packages/volcano/package.json
Labels: library

upg/libraries version
  packages/abcdef/package.json
  packages/abyss/package.json
  packages/android-studio/package.json
  packages/andromeda/package.json
  packages/basic-dark/package.json
  packages/basic-light/package.json
  packages/forest/package.json
  packages/github-dark/package.json
  packages/github-light/package.json
  packages/gruvbox-dark/package.json
  packages/gruvbox-light/package.json
  packages/material-dark/package.json
  packages/material-light/package.json
  packages/monokai/package.json
  packages/nord/package.json
  packages/solarized-dark/package.json
  packages/solarized-light/package.json
  packages/tokyo-night-day/package.json
  packages/tokyo-night-storm/package.json
  packages/volcano/package.json
Labels: library

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd

Update release-library.yml
  .github/workflows/release-library.yml
Labels: infra, ci-cd
